@use "../../../assets/scss/" as *;

.pricing-container {
    .banner {
        width: 100%;
    }

    .content {
        padding: 100px 20%;
        @include flex(row, center, center);
        gap: 2.5rem;

        .card {
            border: solid 1px rgba(128, 128, 128, 0.174);
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 3rem;
            height: 500px;

            min-width: 300px;
            @include flex(column, null, null);
            gap: 15px;

            .card-title {
                font-size: 2.5rem;
                font-weight: 700;
            }

            .card-price {
                font-size: 3.5rem;
                font-weight: 800;
            }

            .card-info {
                font-size: 1.5rem;
                margin-bottom: 2rem;
                font-weight: 400;
            }

            .ant-btn {
                margin-top: auto;
            }
        }
    }
}