@use "../../../assets/scss/" as *;

.menu {
  @include flex(column, center, center);
  padding: 10rem 20rem;
  background-color: var(--primary-bg);
  &-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
    &__item {
      &__list {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
