@use "../../../assets/scss/" as *;

.setting-container {
    padding: 0px 9%;
    @include flex(row, null, null);
    background-color: #FFF7E7;

    .content {
        width: 100%;
        padding: 10rem;
    }
}