@use "../../../assets/scss/" as *;

.setting-container {
    padding-left: 9%;
    @include flex(row, null, null);
    background-color: #FFF7E7;

    @include tablet {
        padding-left: 0;
    }

    .content {
        width: 100%;
        padding: 10rem;


        @include flex(column, null, null);
        gap: 50px;

        @include tablet {
            padding: 3rem;
        }

        .title {
            font-size: 4rem;
            font-weight: 700;


        }

        .content-item {
            @include flex(column, null, flex-start);
            gap: 30px;

            .item-title {
                font-size: 2rem;
                font-weight: 700;
            }
        }

    }
}