@use "../../../assets/scss/" as *;

.verify-container {
  @include flex(null, center, center);
  height: 100vh;
  font-size: 120%;
  .content {
    width: 700px;
    height: 300px;
    padding: 5rem;
    @include flex(column, center, center);
    gap: 1rem;
    img {
        width: 200px;
    }
    a {
        margin-top:1rem;
    }
  }
}
