@use "../../assets/scss/" as *;

.navbar-container {
    background-color: var(--primary-color);
    @include flex(column, null, null);
    gap: 10px;
    width: 300px;

    @include mobile {
        @include flex(row, null, null);
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: space-evenly;
        z-index: 1;
        gap: 0px;
    }

    .logo {
        padding: 50px 60px 30px 60px;

        @include mobile {
            display: none
        }
    }



    .navbar-item {
        @include flex(row, null, center);
        gap: 15px;
        padding-left: 35px;
        box-shadow: 0px 46px 18px rgba(0, 0, 0, 0.01), 0px 26px 15px rgba(0, 0, 0, 0.03), 0px 11px 11px rgba(0, 0, 0, 0.04), 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
        background-color: #0A9918;
        height: 100px;
        color: white;

        @include mobile {
            padding-left: 0px;
            width: 100%;
            justify-content: center;
            height: 6rem;
        }

        .item-icon {
            @include flex(row, center, center);

            @include mobile {
                font-size: 2rem;
            }
        }

        .item-name {
            @include mobile {
                display: none;
            }
        }


    }


    .navbar-item:hover {
        transition: 0.3s;
        background-color: #054c0c8d;
    }

    .navbar-item.active {
        transition: 0.3s;
        background-color: #054C0C;
    }
}