@use "../../assets/scss/" as *;

.meal-item {
  height: 280px;
  width: 250px;
  padding: 1.5rem;
  // background-color: aqua;
  border-radius: 15px;
  border: 2px solid #e1e1e1;
  @include flex(column, null, center);
  gap: 1rem;
  overflow: hidden;

  &__img {
    height: 150px;
    width: 100%;
    background-color: violet;
    overflow: hidden;
    border-radius: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    height: 100px;
    @include flex(column, space-between, null);
    .name {
      text-align: center;
    }
    &__detail {
      display: flex;
      justify-content: space-between;
      &-item {
        @include flex(column, null, null);
        gap: 0.5rem;
        p {
          font-size: 12px;
        }
      }
    }
  }
}
